VERBOSE=true
ALLOW_GLOBAL=true
FLATTEN_HEADERS=true
RETURN_TYPE=html
PATH_AS_DATA=true

PATH_INSTEAD_OF_DOMAIN=true
PATH_PREFIX=webhook

ENDPOINT=https://cloud.appwrite.io/v1
API_KEYS=someProjectId:someProjectKey,anotherProjectId:anotherProjectKey

DEFAULT_PROJECT=someProjectId
DEFAULT_FUNCTION=someFunctionId
